<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light cust-navbar-body">

		<div id ="navbar-wrapper" class="navbar-wrapper container-fluid">
					  <a id ="logo" class="navbar-brand" href="#"><img src ="../../../assets/images/navbar-logo.png" class="img-fluid"/></a>
					  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					    <span class="navbar-toggler-icon"></span>
					  </button>

					  <div class="collapse navbar-collapse" id="navbarSupportedContent">
					    <ul class="navbar-nav mr-auto">
					      <li class="nav-item dropdown">
					        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					          <i class="fas fa-user nav-icon-md"></i>
					        </a>
					        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
					        	<a class="dropdown-item" href="#">Profile  </a>
					          <a class="dropdown-item" href="#">Setting  </a>
					          <a class="dropdown-item" href="#">Privacy Policy </a>
					          <div class="dropdown-divider"></div>
					          <a class="dropdown-item" (click) ="doLogout()" >Log out</a>
					        </div>
					      </li>
					      <div class="form-inline">
					      	<input class="form-control search-input" placeholder="Search">
					      	<button class="search-btn"><i class="fas fa-search"></i></button>
					      </div>
					      <li class="nav-item active">
					        <a class="nav-link" href="#"><i class="fas fa-bell nav-icon-md"></i>
					         <span class="badge badge-danger">192</span>
					     	</a>
					      </li>

					      <li class="nav-item active">
					        <a class="nav-link" href="#"><i class="fas fa-book nav-icon-md"></i><span class="sr-only">(current)</span></a>
					      </li>
					      <li class="nav-item active">
					        <a class="nav-link" href="#"><i class="fas fa-child nav-icon-md"></i><span class="sr-only">(current)</span></a>
					      </li>
					      <li class="nav-item active">
					        <a class="nav-link" href="#"><i class="fas fa-money-bill-alt nav-icon-md"></i><span class="sr-only">(current)</span></a>
					      </li>
					      <li class="nav-item active">
					        <a class="nav-link" href="#"><i class="fas fa-briefcase nav-icon-md"></i><span class="sr-only">(current)</span></a>
					      </li>
					     
					     
					        
					    </ul>

					     <ul class="navbar-nav mr-auto">
					      	  <li class="nav-item">
				      			<img class="me-avatar" src="../../../assets/images/profile.jpg" alt="" />
						      </li>
						      <li class="nav-item" >
						        <a id ="link1" href="#" class="nav-link" >Napihup <span class="sr-only">(current)</span></a>
						      </li>
					     </ul>
					    
					  </div>

		</div>
</nav>
