
<div class="modal fade" id="rmvLbModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content" style="margin-top:200px;">
     
      <div class="modal-body">
        {{lbTitle}} : Are you sure to delete this LB ?
      </div>
      <div class="modal-btn-panel">
        <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">No</button>
        <button type="button" class="btn btn-sm bg-main c-white">Yes</button>
      </div>
    </div>
  </div>
</div>

