<div id="acc-summ-sect" class="acc-summary-card card">
	<div class="card-body">
		<h5 class="card-title">Account - Summary <span class="ago-text">  - 3 days ago </span></h5>
		<div class="card-content">

			<div class="row">
				<div class="col-md-6 data">
					<p>Date of Accounting :
						<span class="font-weight-bold c-dark"> 5 Jan 2018 </span>
					</p> 

					<p> Amount :
						<span class="font-weight-bold c-dark"> $550 </span>
					</p> 

					<p> Default - SR :
						<span class="font-weight-bold c-dark"> $26 </span>
					</p>

				</div>
				<div class="col-md-6 data">
					<p>Total loan created :
						<span class="font-weight-bold c-dark"> 0 
							<!-- <div class="btn btn-xs bg-primary c-white">View Detail</div> -->
						</span>
					</p> 

					<p> No. of SR deposited :
						<span class="font-weight-bold c-dark"> 4 
							<!-- <div class="btn btn-xs bg-primary c-white">View Detail</div> -->
						</span>
					</p> 

					<p> No. of liabilities disbursed :
						<span class="font-weight-bold c-dark"> 6 
							<!-- <div class="btn btn-xs bg-primary c-white">View Detail</div> -->
						</span>
					</p>

				</div>
			</div>


			

		</div>
	</div>
</div>





