<div id="lb-sect" class="liabilities-section card">
	<div class="card-body">
		<div class="row" style="padding-bottom: 15px;">
			<div class="col-md-6">
				<h5> Liabilities <span class="badge bg-transparent text-muted font-weight-light" style="font-style: italic">
				Current - 05 March 2018</span></h5>
			</div>
			<div class="col-md-6 text-right" style="background: ">
				<div class="">
					
					<div data-toggle="modal" data-target="#addLbModal" 
					class="btn btn-sm bg-main c-white btn-new">
						<i class="fas fa-plus"></i> New
					</div>

					<div class="input-group select-acc">
					
					  <select class="custom-select" id="inputGroupSelect01">
					    <option selected> Acc 26 - 5 March 2018 (current)</option>
					    <option value="1">One</option>
					    <option value="2">Two</option>
					    <option value="3">Three</option>
					  </select>
					</div>
					
					
				</div>
			</div>
		</div>
		<div class="card-content">
			<table class="table">
			  <thead class="thead-light">
			    <tr>
			      <th scope="col">#</th>
			      <th scope="col">Title</th>
			      <th scope="col">Type</th>
			      <th scope="col">Liable Amt</th>
			      <th scope="col">Status</th>
			      <th scope="col">Remark</th>
			      <th scope="col"></th>
			    </tr>
			  </thead>
			  <tbody>
			  	<tr *ngFor="let lb of lbList; let i = index">
			  		<th scope="row">{{i + 1}}</th>
			  		<td>{{lb.title}}</td>
			  		<td>{{lb.type}}</td>
			  		<td><i class="fas fa-dollar-sign"></i> {{lb.liableAmt}}</td>
			  		<td>{{lb.status}}</td>
			  		<td><span class="badge bg-warning c-dark">{{lb.remark}}</span></td>
			  		<!-- <td>{{lb.lbRemark}}</td> -->
			  		<td>
			      	<div class="">
			      		<!-- (click)="openRmvDialog({{lbTitle}})" -->
			      		<div (click)="openRmvDialog(lb.title)" 
			      		class="btn btn-sm b-trash" 
			      		data-toggle="modal" data-target="#rmvLbModal">
			      			<i class="far fa-trash-alt"></i>
			      		</div>
			      		<div class="btn btn-sm b-edit">
			      			<i class="fas fa-pencil-alt"></i>
			      		</div>
			      	</div>
			      </td>
			  	</tr>
			   
			    
			  </tbody>
			</table>
		</div>
	</div>
</div>

<modal-remove-lb [lbTitle] = "rmvLbModalData"></modal-remove-lb>
<modal-add-lb></modal-add-lb>
