

<div class="container-fluid" style="background:; height: 100vh;">
	<div class="row">


		<div id="dashboard" class="col-md-10" >
			<div id ="dashboard-card" class="row">
				<div class="col-md-3">
					<div class="card card-body bg-primary">
						<h1 class="dashcard-header">
							Liabilities  <i class="far fa-credit-card"></i>
							<span class=" bg-danger float-right badge badge-dark">16 <i class="fas fa-thumbtack"></i></span>
						</h1>
						<div class="dc-content">
							<p>Available : <span class="cash-div">$2180</span></p>
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="card card-body bg-primary">
						<h1 class="dashcard-header">
							Travel finance/plan <i class="fas fa-plane"></i>
							<span class=" bg-danger float-right badge badge-dark">12 <i class="fas fa-thumbtack"></i></span>
						</h1>
						<div class="dc-content">
							<p>Available : <span class="cash-div">$2180</span></p>
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="card card-body bg-primary">
						<h1 class="dashcard-header">
							Travel finance/plan <i class="fas fa-plane"></i>
							<span class="dashcard-indicator float-right"></span>
						</h1>
						<div class="dc-content">
							<p>Available : <span class="cash-div">$2180</span></p>
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="card card-body bg-primary">
						<h1 class="dashcard-header">
							Travel finance/plan <i class="fas fa-plane"></i>
							<span class=" bg-danger float-right badge badge-dark">12 <i class="fas fa-thumbtack"></i></span>
						</h1>
						<div class="dc-content">
							<p>Available : <span class="cash-div">$2180</span></p>
						</div>
					</div>
				</div>		
				
			</div> <!--- end of dashboard cards -->




		</div>


<!---------------------------------------------------------------------------->
		<div class="col-md-2 right-component">
			<notice-board></notice-board>
		</div>
		
	</div>
</div>
