

<div class="container-fluid" style="background:; height: 100vh;">
	<div class="row">


		<div id="leaf-house" class="col-md-10">
			
			<div class="row margin-cont">
				<div class="col-md-12">
					<!-- <div class="btn-panel-central text-right">
						<button class="btn btn-sm bg-primary c-white">Top up <i class="fas fa-dollar-sign"></i></button>
					</div> -->
					<div class='card card-body central-ticket'>
						<h1><i class="fas fa-leaf "></i> Central
						</h1>
						<div class="row text-left">
							<div class="col-md-4" style="background:">
								<div class="data-container">
									<p class=" d-inline">Current Balance : <br />
										<input class="form-control d-inline" disabled placeholder="$22103.00">
										
									</p>	
									
								</div>
							</div>
								
						</div>
						<div class="row">
							<div class="col-md-12 text-right">
								<div class="">
									<button class="btn btn-sm bg-danger c-white">Reset <i class="fas fa-circle-notch"></i></button>
									<button class="btn-setup btn btn-sm bg-green c-white">Setup <i class="fas fa-sliders-h"></i></button>
								</div>
							</div>
						</div>
					</div>

					<div class="btn-panel-redleaf text-right">
						<!-- <p class="text-muted">Add more red-leaf</p> -->
						<button class="btn btn-sm bg-primary c-white">
							<i class="fas fa-leaf "></i> 
							<i class="fas fa-plus" style="font-size: 15px;"></i>
						</button>
					</div>

					<div class="row">
						<div class="col-md-4">
							<div class="red-leaf-card card card-body">
								<i class="fas fa-leaf red-leaf-icon"></i>
								<h1>HDB house</h1>
								
							
							</div>
						</div>

						
					</div>



				</div>
			</div>



		</div>


<!---------------------------------------------------------------------------->
		<div class="col-md-2 right-component">
			<notice-board></notice-board>
		</div>
		
	</div>
</div>

