

<div class="container-fluid" style="background:; height: 100vh;">
	<div class="row">


		<div id="cashflow" class="col-md-10">
			
			<div class="row margin-cont">
				<div class="col-md-12">
					
					<div id ="cf-header" class="row">
						<div class="col-md-7" style="background:;">
							<h1 class="main-clock"><span>26</span> more days to next Deposit </h1>
						</div>
					
					</div> 


				</div>
			</div>



		</div>


<!---------------------------------------------------------------------------->
		<div class="col-md-2 right-component">
			<notice-board></notice-board>
		</div>
		
	</div>
</div>


<!--------------------------- MODALS TEMPLATES ------------------------------------>
<div class="modal fade" id ="viewPayChecksModal">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">   
		  <div class="modal-body text-center custom">
		   	
		   	<ul class="list-group">
		   		<li class="list-group-item text-left">
		   			<div class="row" style="background:">
		   				<p class="pc-date">Deposited on : <span>16/05/2018 &nbsp; 5:37 PM</span></p>
		   			</div>
		   			<div class="paycheck-item">
		   				<h5 class="d-inline"> <span class="font-weight-bold c-dark">Amount :</span> $3152.00</h5>
		   				
						<h5 class="d-inline"> <span class="font-weight-bold c-dark">Source :</span> Cognizant Solutions</h5>
		   			</div>
		   			<div class="remark">
		   				<label>Remark</label>
		   				<p> vdiohve level leacbea feape fae;f aefae
		   				dveov eale aecaedirfkdirlifjef ef
		   			dvsif eqflef efi</p>
		   			</div>
		   		</li>
		   		<li class="list-group-item">Hello</li>
		   		<li class="list-group-item">Hello</li>
		   	</ul>
		   
		    <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">Cancel</button>
		  </div>
		</div>
	</div>
</div>

