

			
<h1 class="side-bar-header">Notice Board 
	<span class="badge badge-dark">16 <i class="fas fa-thumbtack"></i></span>
</h1>
<ul class="list-group-item online-list">

	<!-- <p class="text-muted right-bar-text">You don't have any friends,<br><a href="#"> add new friends ?</a></p> -->
	<li class="list-item">
		<a href="#">
			<span class="d-inline avatar">M</span><p class="d-inline">Napihup</p> <span class="flag-dot bg-success d-inline"></span>
		</a>
	</li>
	<li class="list-item">
		<a href="#">
			<span class="d-inline avatar">HN</span><p class="d-inline">Napihup</p> <span class="flag-dot bg-warning d-inline"></span>
		</a>
	</li>
	<li class="list-item">
		<a href="#">
			<span class="d-inline avatar">Af</span><p class="d-inline">Napihup</p> <span class="flag-dot bg-danger d-inline"></span>
		</a>
	</li>
	<li class="list-item">
		<a href="#">
			<span class="d-inline avatar">M</span><p class="d-inline">Afifah</p> <span class="flag-dot bg-success d-inline"></span>
		</a>
	</li>
	<li class="list-item">
		<a href="#">
			<span class="d-inline avatar">HN</span><p class="d-inline">Napihup</p> <span class="flag-dot bg-warning d-inline"></span>
		</a>
	</li>
	<li class="list-item">
		<a href="#">
			<span class="d-inline avatar">Af</span><p class="d-inline">Napihup</p> <span class="flag-dot bg-danger d-inline"></span>
		</a>
	</li>
	<li class="list-item">
		<a href="#">
			<span class="d-inline avatar">M</span><p class="d-inline">Afifah</p> <span class="flag-dot bg-success d-inline"></span>
		</a>
	</li>
	<li class="list-item">
		<a href="#">
			<span class="d-inline avatar">HN</span><p class="d-inline">Napihup</p> <span class="flag-dot bg-warning d-inline"></span>
		</a>
	</li>
	<li class="list-item">
		<a href="#">
			<span class="d-inline avatar">Af</span><p class="d-inline">Napihup</p> <span class="flag-dot bg-danger d-inline"></span>
		</a>
	</li>
	<li class="list-item">
		<a href="#">
			<span class="d-inline avatar">M</span><p class="d-inline">Afifah</p> <span class="flag-dot bg-success d-inline"></span>
		</a>
	</li>
	<li class="list-item">
		<a href="#">
			<span class="d-inline avatar">HN</span><p class="d-inline">Napihup</p> <span class="flag-dot bg-warning d-inline"></span>
		</a>
	</li>
	<li class="list-item">
		<a href="#">
			<span class="d-inline avatar">Af</span><p class="d-inline">Napihup</p> <span class="flag-dot bg-danger d-inline"></span>
		</a>
	</li>
	<li class="list-item">
		<a href="#">
			<span class="d-inline avatar">M</span><p class="d-inline">Afifah</p> <span class="flag-dot bg-success d-inline"></span>
		</a>
	</li>
	<li class="list-item">
		<a href="#">
			<span class="d-inline avatar">HN</span><p class="d-inline">Napihup</p> <span class="flag-dot bg-warning d-inline"></span>
		</a>
	</li>
	<li class="list-item">
		<a href="#">
			<span class="d-inline avatar">Af</span><p class="d-inline">Napihup</p> <span class="flag-dot bg-danger d-inline"></span>
		</a>
	</li>
	<li class="list-item">
		<a href="#">
			<span class="d-inline avatar">M</span><p class="d-inline">Afifah</p> <span class="flag-dot bg-success d-inline"></span>
		</a>
	</li>
	
</ul>
<div id="searchUserForm" class="form-group">
	<input class="form-control" placeholder="Search">
</div>
			
