/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:100,300,400,600,700');
/*@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:100i');*/
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:700i');
@import url('https://fonts.googleapis.com/css?family=Fredoka+One|Poppins:500');
@import url('https://fonts.googleapis.com/css?family=Pacifico');

#body{
    background: #e9ebee;
    /*background: blue;*/
    /*font: 'Open Sans', sans-serif; */
    /*font: 14px/1.21 Roboto, 'Helvetica Neue', arial, helvetica, sans-serif;*/
    font: 14px/1.5 'Poppins', sans-serif, cursive;
    font-weight: lighter;
    /*max-width: 1800px;*/
    padding: 0px 0px;
}

.digit{
    font-family: 'Pacifico', cursive !important;
}

.bg-success{
    background: #17C671 !important;
}

.bg-primary{
    background: #30D5C7 !important;
}

.bg-main{
    background:  #30D5C7 !important;
}

.bg-default{
    background: #032747 !important;
    color: #F4F1EA !important ;
}

.bg-secondary{
    background: #F4F1EA !important;
}

.bg-info{
     background: #00B8D8 !important;
}

.bg-warning{
     background: #FFB400 !important;
}

.bg-danger{
    background: #C4183C !important;
}

.bg-light{
    background: #E9ECEF !important;
}

.bg-dark{
    background: #212529 !important;
}

.bg-purple{
    background: #502f96 !important;
}

.bg-red{
    background: #ff0000 !important;
}


.bg-green{
    background: #1e801a !important;
}

.bg-grey{
    background: #545e68 !important;
}

.btn-transparent{
    background: transparent !important;
    color: #545e68 !important;
    text-decoration: underline !important;
    border: none;
}

.bg-white{
    background: white !important;
    border: 1px solid #dadada !important;
    /*color: #dadada !important;*/
}

.c-white{
    color:white !important;
}

.c-black{
    color:#eeeeee !important;
}

.bg-green-hover:hover{
    background: #186815 !important;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.bg-main:hover{
    background: #2abbaf !important;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.bg-grey:hover{
    background: #3c454e !important;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}


@media only screen and (min-width:1400px) {
    .app-wrapper {
        border-right: 0.5px solid #dadada;
        width: 1400px;
        margin: 0 auto;
    }
    .navbar-wrapper{
      width: 1300px !important;
      margin: 0 auto;
    }
}


::-webkit-scrollbar {
    width: 4px;  /* remove scrollbar space */
    background: #dadada;  /* optional: just make scrollbar invisible */
}
/* optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #8c949c;
    border-radius: 20px;
    height: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background: #7b8288;
    border-radius: 20px;
    height: 10px;
}


/* ----------------Layout for Right component (notice-board)----------- */
.right-component {
    /*background: pink;*/
    min-width: 200px;
    position: relative;
    height: 100vh;
    max-height: 100vh;
    padding: 0px !important;
    border-left: 1px solid #bdbfc2;
/*   -webkit-box-shadow: -3px 1px 10px -2px rgba(187,189,189,1);
-moz-box-shadow: -3px 1px 10px -2px rgba(187,189,189,1);
box-shadow: -3px 1px 10px -2px rgba(187,189,189,1);*/

}