#cashInventory{
	background:;
	height: 100vh;
	overflow-y: auto;
/*	padding-right: 0px !important;
	padding-left: 0px !important;*/
/*	margin-left: 0px !important;
	margin-right: 0px !important;*/
}

#cashInventory .row {
	/*padding-right: 0px !important;*/
	background:;
	padding: 0px 0px;
}

#cashInventory .margin-cont{
	/*background: pink;*/
	margin-top: 60px;
/*	padding-left: 0px !important;
	padding-right: 0px !important;
	margin-left: 0px !important;
	margin-right: 0px !important;*/
	/*text-align: center;*/
}

#cashInventory .margin-cont .md-col-12{
	padding-left: 0px !important;
	padding-right: 0px !important;
}


#cashInventory .ci-zero{
	margin-top: 50px !important;
}



#cashInventory .card-body {
	width: 60%;
	margin: 0px auto;
}

#cashInventory .card-body h1 {
	font-size: 20px;

}

#cashInventory .card-body .btn {
	width: 30%;
	margin: 0px auto;
	/*font-weight: bold;*/
}

.loading{
	background: ;
	font-size: 70px;
/*	margin: 0px auto;
	margin-left: 200px;*/
	margin-top: 100px;
	margin-bottom: 10px;
	color: #30D5C7;
}


/*.#cashInventory .ci-section{
	background:blue;
}*/

.ci-nav-header{
	margin-right: 50%;
	padding-top: 15px;
	font-size: 25px;

}


.ci-nav{
	background:;
	height: 60px;
	vertical-align: center;
	padding: 0 0 !important;
	padding-right: 0px !important;
	line-height: 25px;
	/*background: #dadada;*/
	background: transparent;
	border-bottom: 1px solid #bdbfc2;
	/*border: 1px solid #bdbfc2;*/
}

.ci-nav li{
	font-size: 14px;
	font-weight: bold;
	color: #464e57;
	padding: 10px 10px;
}



/*.ci-nav li:hover{
	background: #8c949c;
	cursor: pointer;
}*/

.ci-nav a:hover{
	background: #30D5C7;
	border-radius: 20px;
	color:white;
	cursor: pointer;
	transition: 0.1s;
}



.ci-nav .active a{
	background: #30D5C7;
	border-radius: 20px;
	color:white !important;
}

.ci-nav .nav-item:focus{
	outline: 0;
	box-shadow: none;
}

.ci-content-box{
	background: ;
}


