

<div class="container-fluid" style="background:; height: 100vh;">
	<div class="row">


		<div id="cashInventory" class="col-md-10">
			
			<div class="row margin-cont">
				<div [ngSwitch]="cashInventoryState" class="col-md-12" style="background:">

					<!--------------    CASH INVENTORY LAYOUT -------------------------------->

					<div *ngSwitchCase="'1'" class="ci-section">
						<!-- *ngIf="cashInventoryState === 1" -->
						<ul class="nav justify-content-end ci-nav">
							<h1 class="ci-nav-header">Cash - Inventory</h1>
						  <li sr-tab #srTab (click)="doToggleTab('sr')"
						  [routerLink]="['/user/cash-inventory/sr']" class="nav-item">
						    <a class="nav-link">SR</a>
						  </li>
						  <li #loansTab (click)="doToggleTab('loans')" 
						  [routerLink]="['/user/cash-inventory/loans']" class="nav-item">
						    <a class="nav-link">Loans</a>
						  </li>
						  <li dashboard-tab #dashboardTab (click)="doToggleTab('dashboard')" 
						   [routerLink]="['/user/cash-inventory/dashboard']" class="nav-item">
						    <a class="nav-link">Dashboard</a>
						  </li>
						</ul>

						<div class="ci-content-box">
							<router-outlet></router-outlet> 
						</div>
						
					</div>



					<div  *ngSwitchCase="'0'" class="card card-body text-center ci-zero">
						<!-- *ngIf="cashInventoryState === 0" -->
						<h1> You have not yet setup your cash inventory, </h1>
						<p>Click the button below to start !</p>
				
						<button [routerLink]="['/user/ci/setup']" class="btn btn-sm bg-main c-white">Setup finance now !</button>
					</div>


					<div  *ngSwitchCase="'null'" class="text-center ">
						<!-- *ngIf="cashInventoryState === null" -->
						<!-- <div class="row" style="background: purple"></div> -->
						<i class="loading fa-spin fas fa-spinner"></i><br>
						<!-- <span class="text-muted">Cash inventory is Loading</span> -->
					</div>



				</div>
			</div>



		</div>


<!---------------------------------------------------------------------------->
		<div class="col-md-2 right-component">
			<notice-board></notice-board>
		</div>
		
	</div>
</div>